html, body{
    height: 100%;
}

::selection{
    background-color: rgb(150, 0, 0);
    color: #fff;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgb(20, 20, 20);
}


/*section-register*/

.section-register{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: rgb(30, 20, 20);
    border: red solid 1px;
    border-radius: 20px;
    box-shadow: red 0px 0px 15px;
    z-index: 2;
}

.section-register > div{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: #251010;
    border-radius: 50%;
    border: rgb(220, 0, 0) solid 2px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 40px;  
    box-shadow: red 0px 0px 10px; 
}

.section-register img{
    filter: invert(100%);
    width: 70%;
    height: 70%;
}

/*form*/

.section-register .form{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
}

.section-register .form > div{
    display: flex;
    margin: 20px;
    width: 100%;
    justify-content: space-between;
}

.section-register .form > div > div:not(.password-div){
    position: relative;
    width: 48%;
}

.section-register .form > div > div > input:not(#look_password){
    background-color: rgb(20, 20, 20);
    border: none;
    padding: 15px;
    border-radius: 7px;  
    color: #fff ;
    transition: 0.7s;
    caret-color: red;
    width: 100%;
}

.form .password-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .password-div > label{
    width: 20px;
    height: 20px;
    background-image: url(../img/visivel.png);
    background-size: contain;
    opacity: 50%;
    cursor: pointer;
}


.form .password-div > input{
    appearance: none;
}

.form .password-div > input:checked ~ label{
    background-image: url(../img/olho.png);
}

.section-register .form > div > div > input:not(#look_password):focus{
    outline: none;
    color: #fff;
    box-shadow: red 0px 0px 10px;
}

.section-register .form > div > div > input:not(#look_password), .section-register .form > div > div > input:not(#look_password):-webkit-autofill:is(:hover, :focus){
    background-color: rgb(20, 20, 20);
    -webkit-text-fill-color: #fff;
    transition: background-color 5000s ease-in-out 0s;
}

.section-register .form > div > div > label:not(#label-password){
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    font-size: 14px;
    transition: 0.6s;
    font-weight: 400;
    color: rgb(118, 118, 118);
}

.section-register .form > div > div > input:not(#look_password):is(:focus, :valid) ~ label{
    top: -30%;
}

.section-register .form > div > div > input:not(#look_password):invalid ~ label{
    color: rgba(255, 0, 0, 0.5);
}

.section-register .form > div > div > input:not(#look_password):valid ~ label{
    color: green;
}

.section-register .form > button{
    background-color: transparent;
    display: inline-block;
    margin: 15px;
    width: 100%;
    border: rgb(15, 15, 15) solid 1px;    
    border-radius: 10px;
    padding: 10px;
    color: rgb(220, 0, 0);
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.6s;
    font-weight: 500;
}

.section-register .form > button:hover{
    background-color: red;
    border: red solid 1px;
    color: #fff;
    box-shadow: red 0px 0px 12px;
}

/*link login*/

.link-login{
    width: 70%;
    background-color: #251010;
    z-index: 1;
    text-align: center;
    vertical-align: end;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: rgb(180, 0, 0) solid 1px;
    border-top: none;
    box-shadow: rgb(180, 0, 0) 0px 0px 10px;
    transition: 0.7s;
    transform: translate(0, -15px);
}

.link-login:hover{
    background-color: rgb(30, 20, 20);
    border: red solid 1px;
    box-shadow: red 0px 0px 15px;
    transform: translate(0, 0);
}

.link-login a{
    display: block;
    height: 100%;
    text-decoration: none;
    color: rgb(150, 0, 0);
    padding: 15px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.7s;
    transform: translate(0, 7.5px);
}

.link-login a:hover{
    color: rgb(220, 0, 0);
    transform: translate(0, 0);     
}

/*background*/

.bg-circle-1, .bg-circle-2{
    position: absolute;
    width: 30vw;
    height: 35vh;
    background-color: rgba(200, 0, 0, 0.5);
    filter: blur(70px);
}

.bg-circle-2{
    top: 0;
    left: 0;
    border-bottom-right-radius: 100%;
}

.bg-circle-1{
    bottom: 0;
    right: 0;
    border-top-left-radius: 100%;
}

/*media queries*/

@media screen and (max-width: 856px){
    .section-register{
        width: 90%;
    }
}

@media screen and (max-width: 600px){
    .section-register{
        margin-top: 50px;
    }

    .section-register .form > div{
        flex-direction: column;
        margin: 0;
    }

    .section-register .form > div > div:not(.password-div){
        width: 100%;
        margin-bottom: 32px;
    }

    .section-register .form .grup-3{
        position: relative;
    }

    .section-register .form .password-div{
        position: absolute;
        top: 50px;
        right: 3%;
    }

    .section-register .form > button{
        margin-top: 0;
    }

    .section-register .form > div > div > input:not(#look_password):is(:focus, :valid) ~ label{
        font-size: 12px;
    }
}